$size-media-query-tablet: 700px;
$size-media-query-desktop: 1024px;
$primary-color-grey: #2f2d2d;
$sections-font-color: #b0bfc0;
$secondary-color: #ffffff;
$hover-aquamarine-color: rgb(177, 238, 246);
