.footer-content{
  background-color: $primary-color-grey;
  color: rgb(164, 165, 166);
  width: 100%;
  height: auto;
  margin: 0;
}

.footer-content h4 {
  line-height: 1.3em;
  font-weight: bold;
}

.shop-description{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.shop-title{
  margin-bottom: 0;
  padding-top: 8%;
  font-size: 1.6em;
  color: $secondary-color;
}

.about-shop{
  line-height: 1.9em;
  margin: 0;
  padding: 6%;
}

.follow-us{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.follow-us-title{
  font-size: 1.6em;
}

.social-icons-div{
  margin-top: 5%;
}

.pay-way{
  margin-top: 10%;
}

.contact{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.contact-title{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.6em;
}

.contact ul{
  padding-bottom: 5%;
  list-style-type: none;
}

.contact li{
  line-height: 1.7em;
}

.tlfn{
  color: $secondary-color;
}

.tlfn:hover{
  color: $hover-aquamarine-color;
}

@media (min-width: $size-media-query-tablet) {
.footer-content{
  display: flex;
}

.shop-title {
  padding-top: 0;
}

.shop-description{
  margin: 3%;
}

.about-shop {
  padding: 10%;
}

.follow-us {
  margin: 3%;
}

.social-icons-div{
  margin-top: 15%;
}

.social-icons-logo{
  margin-right: 6px;
}

.pay-way{
  margin-top: 15%;
}

.contact{
  margin: 3%;
}

.contact ul{
  list-style-type: none;
}

.contact-title{
  margin-bottom: 12%;
  margin-top: 0;
}
}

@media (min-width: $size-media-query-desktop){
.shop-description{
  width: 30%;
}

.shop-title{
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.about-shop{
  line-height: 1.9em;
  margin: 0;
  padding: 7%;
  width: 100%;
}

.about-shop li:hover{
  color: rgb(57, 153, 166);
}

.follow-us {
  width: 30%;
}

.follow-us-title{
  border-bottom: 2px solid  #b0bfc0;
  width: 25%;
  line-height: 2em;
  font-size: 1.6em;
}

.contact{
  width: 25%;
}

.contact-title{
  border-bottom: 2px solid  #b0bfc0;
  width: 27%;
  line-height: 2em;
  font-size: 1.6em;
}
}
