.categorie{
  display: none;
}

.catalogue{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 15%;
}

.title-of-catalogue-section{
  font-size: 1.9em;
  border-bottom: 1px solid black;
  width: 30%;
  margin: 5%;
  color: rgb(49, 48, 48);
}

.div-featured-product{
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.title-of-ft-product-section{
  font-size: 1.9em;
  border-bottom: 1px solid black;
  width: 77%;
  color: rgb(49, 48, 48);
  margin-left: -5%;
}

.description-ft-product p{
  line-height: 1.5em;
  margin-top: 10%;
  margin-bottom: 10%;
}

.board-description{
  font-size: 1em;
  text-align: center;
  margin-top: 5%;
}

.board-price{
  color: grey;
  text-align: center;
  margin-top: 5%;
}

.request-form{
  width: 80%;
  margin: 20% auto 20%;
}

.title-of-form{
  text-align: center;
  color: rgb(49, 48, 48);
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
  padding: 24px;
}

.input{
  border-radius: 4px;
  display: inline;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.catalogue-image-title{
  background: rgba(18, 18, 18, 0.4);
  color: $secondary-color;
  padding: 10px;
  position: absolute;
  z-index: 11;
  width: 300px;
}
.catalogue-image-title a{
  color: $secondary-color;
  text-decoration: none;
}
.catalogue-image-title:hover {
  background-color: rgba(114, 184, 215, 0.5);
}
.surf{
  top: 302px;
}
.skate{
  top: 512px;
}
.longboard{
  top: 725px;
}
.snow{
  top: 933px;
}

@media (min-width: $size-media-query-tablet){
.title-of-catalogue-section{
  width: 18%;
}

.catalogue-image-title {
  width: 34.7%;
  margin-left: 13px;
}

.surf {
  top: 300px;
}

.skate {
  top: 300px;
}

.longboard {
  top: 507px;
}

.snow {
  top: 507px;
}

.title-of-ft-product-section{
  width: 47%;
}
form{
  margin-left: 10%;
  width: 85%;
}
}
@media (min-width: $size-media-query-desktop){
.sections{
  width: 100%;
}
.sections article{
  padding: 30px;
}

.all-content{
  display: flex;
  justify-content: space-between;
}

.title-of-categorie{
  font-size: 1.6em;
  color: rgb(49, 48, 48);
  width: 59%;
  margin-bottom: 13%;
}

.categorie{
  display: flex;
  flex-direction: column;
  width: 18%;
}

.catalogue {
  width: 31%;
  margin-top: 16px;
  margin-bottom: 0;
}

.title-of-catalogue-section{
  font-size: 1.6em;
  border-bottom: none;
  color: rgb(49, 48, 48);
  width: 50%;
  margin-left: 38%;
}

.catalogue-image-title {
  display: none;;
}

.div-featured-product{
  width: 45%;
  margin-top: 3px;
  margin-left: 0;
  margin-right: 0;
}

.title-of-ft-product-section{
  border-bottom: none;
  color: rgb(49, 48, 48);
  font-size: 1.6em;
  width: 55%;
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 28%;
}

.description-ft-product p{
  width: 100%;
}

.featured-product{
  display: flex;
}

.board-description{
  font-size: 0.8em;
  text-align: center;
}

.request-form{
  margin-top: 5%;
  margin-bottom: 12%;
}

.title-of-form{
  width: 100%;
  font-size: 1em;
}

form{
  margin-left: 10%;
  width: 85%;
}

.input{
  border-radius: 6px;
  display: inline;
  padding: 10px;
  width: 100%;
}
}
