.burguerBtn-div{
  border-radius: 5px;
  height: 44px;
  width: 65px;
  position: absolute;
}

.burguerBtn {
  width: 36px;
  height: 29px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-left: 12%;
  margin-top: 15%;
}

.burguerBtn span{
  display: block;
  position: absolute;
  height: 3px;
  width: 80%;
  background-color: $secondary-color;
  border-radius: 1.3px;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burguerBtn span:nth-child(1){
  top: 12px;
}

.burguerBtn span:nth-child(2){
  top: 21px;
}

.burguerBtn span:nth-child(3){
  bottom: -4px;
}

.burguerBtn.open span:nth-child(1){
  top: 63%;
  transform: rotate(135deg);
}

.burguerBtn.open span:nth-child(2){
  opacity: 0;
  left: -60px;
}

.burguerBtn.open span:nth-child(3){
  bottom: 23%;
  transform: rotate(-135deg);
}

.send{
  background-color: #090a09;
  border: none;
  color: #b0bfc0;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  padding: 11px;
  width: 60px;
  margin-left: 77%;
}

@media (min-width: $size-media-query-tablet) {
.send{
  width: 70px;
  margin-left: 84%;
}
}

@media (min-width: $size-media-query-desktop){
.burguerBtn-div{
  display: none;
}

.send{
  width: 25%;
  margin-left: 69%;
  padding: 9px;
}
}
