.send{
  background-color: #090a09;
  border: none;
  color: #b0bfc0;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  padding: 11px;
  width: 60px;
  margin-left: 77%;
}

@media (min-width: $size-media-query-tablet) {
.send{
  width: 70px;
  margin-left: 84%;
}
}

@media (min-width: $size-media-query-desktop){
.burguerBtn-div{
  display: none;
}

.send{
  width: 25%;
  margin-left: 69%;
  padding: 9px;
}
}
