.div-logo{
  width: 110px;
  margin-left: 41%;
}

.mobile-logo{
  width: 100%;
  margin-top: 2%;
}

.div-shopping-bag{
  width: 25px;
  margin-top: 18px;
  margin-right: 5px;
}

.shopping-bag{
  width: 100%;
}

.image-divs{
  width: 76%;
  margin-left: auto;
  margin-right: auto;
}

.img-div{
  width: 300px;
  margin: 5px;
}

.board-image{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.burton-board{
  width: 100%;
}

.catalogue-image{
  width: 100%;
  height: 200px;
}

.social-icons-logo{
  width: 20px;
}

.logo-pay-card{
  width: 25px;
  margin-top: 5%;
}

@media (min-width: $size-media-query-tablet) {
.image-divs{
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.catalogue-image{
  padding: 5%;
}
}

@media (min-width: $size-media-query-desktop){
.div-logo{
  height: 2vh;
  margin-left: 75px;
}

.mobile-logo{
  margin-top: -20px;
}

.img-div{
  width: 200px;
}

.image-divs{
  margin: 0;
  width: 100%;
}

.catalogue-image{
  padding: 0;
  height: 150px;
}

.surf{
  height: 150px;
}

.lool{
  height: 150px;
}

.board-image{
  width: 65%;
  margin: 0;
}

.social-icons-logo{
  width: 20px;
}

.logo-pay-card{
  width: 25px;
  margin: 10px;
}
}
