ul.tabs li{
  width: 0;
  flex-basis: 0;
  flex-grow: 1;
  }

ul.tabs li a{
  padding: 15px 0px;
  display: none;
}

ul.tabs{
  width: 100%;
  background: $primary-color-grey;
  list-style: none;
  display: flex;
  height: 11vh;
}


ul.tabs li a{
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  display: block;
  padding: 25px 0px;
  text-align: center;
}

ul.tabs li{
  width: 18%;
}

.active{
  background: #7ca3ba;
  height: 11vh;
}

ul.tabs li a .tab-text{
  font-size: 0.9em;
  font-weight: bold;
}
.wrap{
  width: 100%;
}

@media (min-width: $size-media-query-tablet){
ul.tabs li a .tab-text {
  font-size: 1.2em;
}

.navigation {
  width: 200px;
}
}

@media (min-width: $size-media-query-desktop){
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #b0bfc0;
  font-weight: bold;
  background-color: $primary-color-grey;
}

.mainmenu a:hover {
  background-color: #686d6d;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.submenu a {
  background-color: #77797a;
}

.submenu a:hover {
  background-color: #666;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-out;
}
}
